# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/
/basic_word_count/build/
/chord/build/
/pubsub/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Jetbrains
/.idea/

### Datasets
/basic_word_count/amazon-fine-food-reviews/*.csv

# Ignore other modules
basic_word_count/*
distributed_consensus/*
distributed_hash_table/*
gossip_protocol/*
project1/*
project2/*
pubsub/*
remote_method_invocation/*
remote_procedure_call/*
socket_programming/*

